body{
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
  
    
}

slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 300px;
    max-width: 500px
  }
  
.slide-right img {
animation: 2s slide-right 0s forwards;
    transform:translateX(-100%);
}

@keyframes slide-right {
to {
    transform:translateX(0);
}
}
.navbar{
    float: right;
    margin-top: 2%;
    margin-right: 5%;
    /* position: fixed; */
}
a{
    padding: 20px;
    text-decoration: none;
    font-weight: 800;
    color:rgb(39, 39, 39);
    border-radius: 30%;

    
}
a:hover{
    color:whitesmoke;
    background-color:#F6A833;
}

.slide-bottom{
    position: absolute;
    top:25%;
    left: 60%;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
}
/* p{
    color: rgb(39, 39, 39);
} */
.aboutmetext{
    color:rgb(0, 0, 0) ;
    font-size: 18px;
    margin-left: 5%;

}


h2 {
  overflow: hidden;
  text-align: center;
  color: #F6A833;
}

h2:before,
h2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

#imageabout{
    background-color: #2F2C2A;
    width:30%;
    margin-left: 5%;
    margin-top: 6%;

}
/* #imgaboutme{
position: absolute;


} */
#Skills{
    position: absolute;
    top: 80%;
    left:60%;
}
#django{
    width:430px;
    height: 35px;
    border-radius: 20px;
    background-color: #F6A833;
    color: rgb(0, 0, 0);

}
#html{
    width:457px;
    height: 35px;
    border-radius: 20px;
    background-color: #F6A833;
    color: rgb(0, 0, 0);

}
#Python{
    width:410px;
    height: 35px;
    border-radius: 20px;
    background-color: #F6A833;
    color: rgb(0, 0, 0);

}
#js{
    width:390px;
    height: 35px;
    border-radius: 20px;
    background-color: #F6A833;
    color: rgb(0, 0, 0);

}
#kotlin{
    width:380px;
    height: 35px;
    border-radius: 20px;
    background-color: #F6A833;
    color: rgb(0, 0, 0);

}
#react{
    width:370px;
    height: 35px;
    border-radius: 20px;
    background-color: #F6A833;
    color: rgb(0, 0, 0);

}
.skillstext{
    margin-left: 20px;
    padding-top: 5px;
}
#imgprojects{
    display: flex;
    margin-left: 30px;
}
.imgprojects{
    width: 360px;
    height:330px;
    padding: 20px;
}

form{
    margin-left: 4%;
}
input{
    width: 95%;
    height: 30px;
    
   
}
textarea{
    width: 95%;

}
button{
    border-radius: 5%;
    border: transparent;
    width: 70px;
    height: 30px;
}
#skillspage{
    color: #F6A833;
}

h3{
    overflow: hidden;
    text-align: center;
    color: #F6A833;
    /* font-weight: bolder; */
  }
  
  h3:before

  {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 98%;
  }
  
  h3:before {
    right: 0.1em;
    margin-left: -23%;
  }
  

#imgcontact{
    margin-left: -17%;
}
footer{
    background-color: #2F2C2A;
    color: #ceccca;
    text-align: center;
   
}
#foot{
    width:5%;
    border: 1px solid #DFC3AB   ;
   
}
.conttext{
    position: absolute;
    left: 40%;
    top: 330%;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}